#nav-bar {
    position: fixed;
    top: 0;
    left: 2em;
    right: 2em;
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  margin-left: 10px;
  float: left;
  font-size: 2em;
  line-height: 3;
}
